.nav-link-custom {
  padding-right: 80px;
  margin-right: 80px;
  font-size: 18px;
  font-weight: bold;
}
.navbar-light {
  padding: 25px;
  text-decoration: none;
}
.texthead {
  color: #555;
  padding-left: 150px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;

}
.texthead:hover{
  text-decoration: none;
  color:#555;
}
h1 {
  font-size: 62px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  padding-top: 10px;
  text-align: center;
  color: white;
  top: 100px;
}
.text a {
  color: black;
  font-size: 26px;
  font-weight: 500;
}
.text a:hover {
  color: olive;
  text-decoration: none;
}
.text1 a {
  color: gray;
  text-decoration: none;
}
h4 {
  font-size: 18px;
  color: #bfba55;
  text-align: center;
}

.home {
  padding: 200px 0px 200px 0px;
  padding-top: 5rem;
  background-image: url(camera.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: none;
}

.imagealign{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border-radius: 1px;
  padding-top: 80px;
}

.footer {
  background-color: black;
  padding: 80px;
}
 .col-md-12 hr{
  border-color: #000;
  margin-top: 62px;
  margin-bottom:42px;
  border:0;
  border-radius: 1px solid;
  color:white;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 5px;
}


.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fab {
  color: #fff;
  background-color: #000;
  width: 50px;
  height: 50px;
  padding-top: 16px;
  border-radius: 100px;
  border:1px solid;
}
.socialbtns .fab:hover{
  color: orange;
  text-decoration: none;
}


.smoothScroll {
  background: white;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: black;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
}
.smoothScroll:hover {
  background: 0px;
}
.borderstyle {
  border: 1px solid rgb(160, 158, 158);
  border-radius: 50px;
  color: #555;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
  
  
}
.borderstyle:hover {
  background-color: olive;
  color: white;
  text-decoration: none;
}
p {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin: 0 0 10px;
}
.go-top {
  background-color: white;
  bottom: 2em;
  right: 2em;
  text-align: center;
  color: #333;
  font-size: 14px;
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  padding-top: 8px;
}
.go-top:hover {
  background-color: olive;
  color: white;
}
.pic{
    width:100px;
    height:100px;
}
.rounded-circle{
     width: 100px;
     height: 100px;
}
/*about page */
.about {
  padding: 200px 0px 200px 0px;

  background-image: url(hh1.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: none;
}
h2{
  color: rgb(80, 82, 82);
  font-size: 32px;
  font-weight:bold;
  padding-top: 20px;
}
h3{
  color: black;
  
  
}



                                                                                                                  
/*gallery page*/
.gallery {
  padding: 200px 0px 200px 0px;

  background-image: url(hh3.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: none;
}
h3 {
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 32px;
  margin-top: 20px;
  padding-bottom: 6px;
}
 .text3{
font-size: 18px;
 } 
 .image-gallery{
   top:0;
   position: relative;
   transition: all ease-in 1s;
   box-shadow: 0 0 2px rgba(0,0,0.1)
 }
 .image-gallery:hover{
   top: -5px;
 }


/* contact page */
.contact {
  padding: 200px 0px 200px 0px;
  background-image: url(h23.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: none;
}
.buttonClick {
  background: olive;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  
}
.buttonClick :hover {
  border-color: #000;
  background: #000;
}
.labeltext{
  padding-top: 20px;
}
/*single post page */

.singlepost {
  padding: 200px 0 200px 0;

  background-image: url(h22.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: none;
}
.blog-image{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border-radius: 1px;
  padding-top: 80px;
}


.singlepost a {
  color: #000;
}
.format a {
  color: #000;
}
.media-body h4 a {
  color: rgb(49, 44, 44);

  font-size: 20px;
}
blockquote {
  padding-left: 50px;
}
.commentstyle {
  border: 1px solid rgb(160, 158, 158);
  border-radius: 50px;
  color: white;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: olive;
}
.commentstyle:hover {
  border-color: #000;
  background: #000;
}
.media-heading a {
  text-decoration: none;
  padding-right: 75%;
}
.page{
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.2px;
  padding-left: 20px;
}

/*.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
 padding-top: 10px;
 padding-bottom: 5px;
  
  
}


.icon-bar a:hover {
  background-color: green;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}
.email {
  background: gray;
  color: white;
}
.share{
  background-color: yellowgreen;
  color: white;

}

.linkedin {
  background: #007bb5;
  color: white;
}

.messenger {
  background-color: #55ACEE;
  color:#f39f;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}*/



